# Commonly ignored Node.js files
node_modules
.env.*

# Distributed files
dist

# Next.js build output
apps/website/.next
apps/website/build

# Cache files
.stylelintcache

## macOS-specific files
.DS_Store
